@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}



    @using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />
            <h4>İçerik Ekleme Sayfası</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <input type="hidden" name="HeadingId" value="@ViewBag.value" />
            @Html.Label("Yazınız")
            <div class="col-md-10">

                @Html.TextAreaFor(model => model.ContentValue, 4, 30, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContentValue, "", new { @class = "text-danger" })
            </div>
        </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="İçerik Oluştur" class="btn btn-warning" />
                </div>
            </div>
        </div>
    }

